.sidebar
  a(href="/admin") All Products
  a(href="/admin/settings") Change Password
  a(href="/admin/about-us") About Us
  a(href="/admin/contact-us") Contact Us
  .sidebar--bottom
  hr
  a(href="/") Back To Home
  a(href="/logout") Logout
