.product-form
  .container
    h2.admin__title Create New Product
    .col-xs-2
      include ./_sidebar.jade
    form.col-xs-10
      .form-group
        label Name
        input.form-control(required ng-model="adminCtrl.product.name")
      .form-group
        label Price
        input.form-control(type="number" required placeholder="" ng-model="adminCtrl.product.price")
      .form-group
        label Description
        input.form-control(required placeholder="" ng-model="adminCtrl.product.description")
      .form-group
        label.product-form--block Collections
        .product-form__checkbox(ng-repeat="item in adminCtrl.collections track by $index")
          label.checkbox-inline {{item.name}}
            input(type="checkbox" ng-model="adminCtrl.collectionModel[item.id]" ng-true-value="{{item.id}}")
      .form-group
        label Colors
        .product-form__buttons
          button(ng-click="adminCtrl.addColor()")
            span.glyphicon.glyphicon-plus.text-success Add
          span.product-form__buttons--right Image Root: <strong>{{adminCtrl.imageRoot}}</strong>
        table.table.table-striped.table-bordered
          thead
            tr
              th.col-md-3 Name
              th.col-md-2 Code
              th.col-md-5 Images
              th.col-md-2
          tbody
            tr(ng-repeat="color in adminCtrl.colors track by $index" ng-include="adminCtrl.getTemplate(color)")
      .form-group
        label Specifications
        .product-form__sub-label
          label Description
          a(href="#" ng-click="adminCtrl.specDescShow = !adminCtrl.specDescShow;") {{adminCtrl.specDescShow ? "Hide" : "Show"}}
        div(ng-show="adminCtrl.specDescShow")
          .form-control(ckeditor="adminCtrl.editorOptions" ng-model="adminCtrl.specDesc")
        .product-form__sub-label
          label Details
          a(href="#" ng-click="adminCtrl.specDetailShow = !adminCtrl.specDetailShow;") {{adminCtrl.specDetailShow ? "Hide" : "Show"}}
        div(ng-show="adminCtrl.specDetailShow")
          .form-control(ckeditor="adminCtrl.editorOptions" ng-model="adminCtrl.specDetail")
        .product-form__sub-label
          label Material
          a(href="#" ng-click="adminCtrl.specMatShow = !adminCtrl.specMatShow;") {{adminCtrl.specMatShow ? "Hide" : "Show"}}
        div(ng-show="adminCtrl.specMatShow")
          .form-control(ckeditor="adminCtrl.editorOptions" ng-model="adminCtrl.specMat")
      .form-group
        button.btn.btn-primary(type="submit" ng-click="adminCtrl.submitProduct()") Submit
script#display(type='text/ng-template').
  <td>{{color.name}}</td>
  <td>{{color.code}}<div class="product-form__square" ng-style="{'background-color' : color.code}"></div></td>
  <td>{{color.imageDisplay}}</td>
  <td>
    <button ng-click="adminCtrl.editColor(color)"><span class="glyphicon glyphicon-edit text-warning"></span></button>
    <button ng-click="adminCtrl.deleteColor(color)"><span class="glyphicon glyphicon-trash text-danger"></span></button>
  </td>
script#edit(type='text/ng-template').
  <td><input type="text" ng-model="adminCtrl.selectedColor.name" /></td>
  <td><input type="text" ng-model="adminCtrl.selectedColor.code" /></td>
  <td><input type="text" ng-model="adminCtrl.selectedColor.imageDisplay" /></td>
  <td>
    <button ng-click="adminCtrl.saveColor($index)"><span class="glyphicon glyphicon-ok text-success"></span></button>
    <button ng-click="adminCtrl.reset()"><span class="glyphicon glyphicon-remove text-danger"></span></button>
  </td>
