body {
  font-family: $font-avenir;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-bembo;
}

$web-color: rgb(15,56,15);
$menu-bg-color: rgb(213,242,207);
$menu-bg-color-op: rgba(213,242,207, 0.5);
$web-color-op: rgba(15,56,15,0.7);
$web-color-lg-op: rgba(15,56,15,0.5);
$web-text-color: rgb(53,37,7);

$page-margin-top: 120px;
