.nav-bar__first-line
  .nav-bar__first-line__logo.col-sm-8
    .nav-bar__first-line__logo__img
      a(href="/")
        img(src="http://placehold.it/300x300" alt="")
    h2.nav-bar__first-line__logo__name Sorentino
    .nav-bar__first-line__logo__menu
      ul
        li
          a(href="/subscribe")
            span(ng-class="{'nav-bar--active': isActive('home')}") All Bags
        li
          a(href="/subscribe")
            span(ng-class="{'nav-bar--active': isActive('home')}") Collections
        li
          a(href="/tutorials")
            span(ng-class="{'nav-bar--active': isActive('aboutUs')}") About
        li
          a(href="/brands")
            span(ng-class="{'nav-bar--active': isActive('contactUs')}") Contact
  h2.nav-bar__first-line__right-logo.col-sm-4 Sorentino
.nav-bar__second-line
  ul
    li
      a(href="/subscribe")
        span(ng-class="{'nav-bar--active': isActive('home')}") All Bags
    li
      a(href="/subscribe")
        span(ng-class="{'nav-bar--active': isActive('home')}") Collections
    li
      a(href="/tutorials")
        span(ng-class="{'nav-bar--active': isActive('aboutUs')}") About
    li
      a(href="/brands")
        span(ng-class="{'nav-bar--active': isActive('contactUs')}") Contact
