.nav-bar__first-line
  .nav-bar__first-line__logo
    .nav-bar__first-line__logo__img
      a(href="/")
        img(src="http://placehold.it/300x300" alt="")
    h2.nav-bar__first-line__logo__name Sorentino
    .nav-bar__first-line__logo__menu
      ul
        li(ng-repeat="item in nav.menu track by $index")
          a(href="{{item.link}}")
            span(ng-class="{'nav-bar--active': isActive(item.name)}") {{item.name}}
          .nav-bar__sub(ng-class="{'nav-bar__sub--show': item.items && item.items.length > 0}")
            ul(ng-if="item.items && item.items.length > 0")
              li(ng-repeat="subItem in item.items track by $index")
                a(href="/collection/{{subItem.id}}")
                  span {{subItem.name}}
  h2.nav-bar__first-line__right-logo Sorentino
.nav-bar__second-line
  ul
    li(ng-repeat="item in nav.menu track by $index")
      a(href="{{item.link}}")
        span(ng-class="{'nav-bar--active': isActive(item.name)}") {{item.name}}
      .nav-bar__sub(ng-class="{'nav-bar__sub--show': item.items && item.items.length > 0}")
        ul(ng-if="item.items && item.items.length > 0")
          li(ng-repeat="subItem in item.items track by $index")
            a(href="/collection/{{subItem.id}}")
              span {{subItem.name}}
