.spotlight{
    $spotlight-height: 450px;
    $box-margin: 10px;
    margin-top: $page-margin-top;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: $spotlight-height/3;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: $screen-tablet) {
      height: $spotlight-height/2
    }

    @media (min-width: $screen-desktop) {
      height: $spotlight-height
    }

    &__content {
    }

}
