include ../mixins/common-grid/_common-grid.jade
navbar
.product
  .product__main.col-sm-7
    ng-gallery(images="prodCtrl.imageGalerry" thumbs-num="1")
    .product__main__list
      .row
        a.ani-repeat(href="#" ng-repeat="item in prodCtrl.color.images track by $index" ng-click="prodCtrl.setMainImage(item)")
          img.col-xs-2(src="{{item}}")
  .product__info.col-sm-5
    h2.product__info__title {{prodCtrl.product.name}}
    p.product__info__title {{prodCtrl.product.description}}
    p.product__info__title {{prodCtrl.product.price | currency: "" : 0}} VND
    .product__info__color--container
      p.product__info__color__title More Colors:
      a.product__info__color.product__info__color--select(ng-repeat="color in prodCtrl.product.colors" ng-click="prodCtrl.changeColor(color)" ng-style="{'background-color': color.code}" href="#" ng-class="{'product__info__color--active': prodCtrl.color.code == color.code}" ng-mouseover="prodCtrl.currColorName = color.name" ng-mouseleave="prodCtrl.currColorName = prodCtrl.color.name")
      .product__info__color__name {{prodCtrl.currColorName}}
    hr
    .product__info__spec
      ul.product__info__spec__menu
        li.product__info__spec__menu__item(ng-class="{'product__info__spec__menu__item--select' : prodCtrl.specType == 1}")
          a(href="#" ng-click="prodCtrl.setSpec(prodCtrl.product.spec.description, 1)") Description
        li.product__info__spec__menu__item(ng-class="{'product__info__spec__menu__item--select' : prodCtrl.specType == 2}")
          a(href="#" ng-click="prodCtrl.setSpec(prodCtrl.product.spec.details, 2)") Details
        li.product__info__spec__menu__item(ng-class="{'product__info__spec__menu__item--select' : prodCtrl.specType == 3}")
          a(href="#" ng-click="prodCtrl.setSpec(prodCtrl.product.spec.material, 3)") Material
      hr
      .product__info__spec__description(ng-bind-html="prodCtrl.spec")
  .col-xs-12
    .grid-container
      section.two-grid
        .container-fluid
          .row.two-grid__row.ani-repeat(ng-repeat="banner in prodCtrl.banners" ng-style="{'background': banner.color}")
            .two-grid__cell.two-grid__cell--text.col-xs-12.col-sm-6.col-md-6.col-lg-6.no-gutter
              p.two-grid__cell-body
                h1.two-grid__cell-body__title {{banner.title}}
                a.two-grid__cell-body__link(href="{{banner.link}}") View Bags
            .two-grid__cell.two-grid__cell--image.two-grid__cell--image-right.col-xs-12.col-sm-6.col-md-6.col-lg-6.no-gutter
              img(alt="" ng-src="{{banner.image}}")
footer
