.container
  .row
    h2.admin__title Change About Us
    .col-xs-2
      include ../_sidebar
    .col-sm-10
      .form-group
        .form-control(ckeditor="auaCtrl.editorOptions" ng-model="auaCtrl.aboutUs.value")
      .form-group.admin__about-us
        h3.admin__about-us__title Preview
        .admin__about-us__preview(ng-bind-html="auaCtrl.aboutUs.value")
      .form-group
        hr
        p.help-block {{auaCtrl.message}}
        .btn.btn-primary(ng-click="auaCtrl.submit()") Submit
